select {
    padding: 15px 0 15px 10px;
}

.form-group label {
    font-size: 75%;
    float: left;
    margin:0;
    transform: translate(100%,-100%);
    width: initial;
    width:0;
}

.form-group {
    clear: both;
    padding-top: 20px;
}
