<!DOCTYPE html>
<html ng-app="FarmApp">
    
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>GETTING STARTED WITH BRACKETS</title>
        <meta name="description" content="An interactive getting started guide for Brackets.">
        <link rel="stylesheet" href="Css/main.css"/> 
        <link rel="stylesheet" href="Css/Bootstrap.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src=Scripts/RemObjectsSDK.js></script>
        <script src="Scripts/ScaleLibrary_intf.js"></script>
        <script src="Scripts/CommonLibrary_intf.js"></script>
        <script src="Scripts/angular.js"></script>
        <script src="Scripts/jquery-1.9.1.js"></script>
        <script src="Scripts/bootstrap.js"></script>
        <script src="Scripts/ui.js"></script>
        <script src="app.js"></script>
    </head>
    <body ng-controller="DataController as Data" ng-init="init()">
              
        <div id="Home" ng-show= "Mode == 'home' || Mode == 'outbound'">          
			<div class="form-group full-width" >
                <select ng-options="ticket.Truck.Name for ticket in OpenTickets" ng-model="selectedOpenTicket"
                    ng-change="LoadTicket()">
                    <option value="" disabled>Select Open Ticket</option>
                </select>
            </div>
            <div class="form-group full-width" >        
                <input type="button" class="btn btn-primary full-width" value="New Ticket" name="NewTicket" ng-click="newTicketClick()">
            </div>
        </div>
        
        <div id="Outbound" ng-show="Mode == 'outbound'">
        <form name="outboundForm" ng-submit="outboundClick(outboundForm.$valid)" novalidate>
			<ul>
			  <li><strong>Truck ID:</strong>{{Ticket.Truck.Name}}</li>
			  <li><strong>Commodity:</strong>{{Ticket.Commodity.Name}}</li>
			  <li><strong>Field:</strong>{{Ticket.Field.Name}}</li>
			  <li><strong>Farm:</strong>{{Ticket.Farm.Name}}</li>
			</ul>
            <div class="form-group">
                <label>Moisture:</label><input type="text" name="input" ng-model="Ticket.Moisture" required>
            </div>
            <div class="form-group">
                <label>TestWeight:</label><input type="text" name="input" ng-model="Ticket.TestWeight" required>
            </div>
            <div class="form-group full-width">
                <button type="submit" class="btn btn-primary">Submit</button>
                <input type="button" class="btn btn-danger" value="Cancel" name="Cancel" ng-click="cancelClick()">
            </div>       
        </form>
        </div>
        
        <div id="NewTicket" ng-show="Mode == 'inbound'">
        <form name="inboundForm" ng-submit="inboundClick(inboundForm.$valid)" novalidate>
            <div class="form-group">
                <label>Truck: </label>
                <select ng-options="item.Name for item in Trucks" ng-model="Ticket.Truck" required>
                    <option value="" disabled>Select Truck</option>
                </select>
            </div>
            <div class="form-group">
                <label>Commodity: </label>
                <select ng-options="item.Name for item in Commodities" ng-model="Ticket.Commodity" required>
                    <option value="" disabled>Select Commodity</option>
                </select>
            </div>
            <div class="form-group">
                <label>Farm: </label>
                <select ng-options="item.Name for item in Farms" ng-model="Ticket.Farm" required>
                    <option value="" disabled>Select Farm</option>
                </select>
            </div>
            <div class="form-group">
                <label>Field: </label>
                <select ng-options="item.Name for item in Fields| filter:Ticket.Farm.Name" ng-model="Ticket.Field" required>
                    <option value="" disabled>Select Field</option>
                </select>
            </div>
            <div class="form-group full-width">
                <button type="submit" class="btn btn-primary">Submit</button>
                <input type="button" class="btn btn-danger" value="Cancel" name="Cancel" ng-click="cancelClick()">
            </div>  
        </form>
        </div>
                
                
        <div id="ConfirmInbound" class="confirm" ng-show="Mode == 'confirminbound'">
			<ul>
			  <li><strong>Truck ID:</strong>{{Ticket.Truck.Name}}</li>
			  <li><strong>Commodity:</strong>{{Ticket.Commodity.Name}}</li>
			  <li><strong>Field:</strong>{{Ticket.Field.Name}}</li>
			  <li><strong>Farm:</strong>{{Ticket.Farm.Name}}</li>
			  <li><strong>In Weight:</strong>{{Ticket.InWeight}}</li>
			</ul>
            <div class="form-group full-width">
                <input type="button" class="btn btn-primary" value="Save Inbound" name="SaveInbound" ng-click= "saveInboundClick()">
                <input type="button" class="btn btn-danger" value="Cancel" name="Cancel" ng-click="cancelClick()">
            </div>                     
        </div>
                
        <div id="ConfirmOutbound" class="confirm" ng-show="Mode == 'confirmoutbound'">
            <ul>
				<li><strong>Truck ID:</strong>{{Ticket.Truck.Name}}</li>
				<li><strong>Commodity:</strong>{{Ticket.Commodity.Name}}</li>
				<li><strong>Field:</strong>{{Ticket.Field.Name}}</li>
				<li><strong>Farm:</strong>{{Ticket.Farm.Name}}</li>
				<li><strong>Moisture:</strong>{{Ticket.Moisture}}</li>
				<li><strong>TestWeight:</strong>{{Ticket.TestWeight}}</li>
				<li><strong>Gross:</strong>{{Ticket.Gross}}</li>
				<li><strong>Tare:</strong>{{Ticket.Tare}}</li>
				<li><strong>Net:</strong>{{Ticket.Net}}</li>
			</ul>
            <div class="form-group full-width">
                <input type="button" class="btn btn-primary" value="Save Outbound" name="SaveOutbound" ng-click= "saveOutboundClick()">
                <input type="button" class="btn btn-danger" value="Cancel" name="Cancel" ng-click="cancelClick()">
            </div>
        </div>     
      
        <div id="ThankPage" ng-show="Mode == 'thanks'">
            <h3>Thanks For Testing Me</h3>
            <input type="button" class="btn btn-primary full-width" value="Continue" name="inputSubmit" ng-click= "thanksClick()">
        </div>
        
    </body>
</html>